##**Struktur Data Set**

Set adalah tipe data yang berisi kumpulan data yang unik, set biasanya ditulis menggunakan kurung kurawal {} dan setiap elemennya dipisahkan oleh koma. Set bersifat unordered yang artinya tidak bisa diakses dengan index. Pada set kita dapat melakukan gabungan, irisan, komplemen, maupun teori himpunan lainnya.

Contoh tipe data set:

In [ ]:
set_int = {2, 5, 7, 3, 8}
print(set_int)

{2, 3, 5, 7, 8}

In [ ]:
set_buah = {'Jeruk', 'Nanas', 'Anggur'}
print(set_buah)

{'Anggur', 'Nanas', 'Jeruk'}

In [ ]:
set_huruf = {'x', 'y', 'z'}
print(set_huruf)

{'x', 'z', 'y'}

###**Bersifat Unik**

Pada tipe data set setiap datanya bersifat unik yang artinya tidak bisa menerima nilai duplikat. Jika kita memasukan dua atau lebih nilai yang sama pada set, maka nilai yang dimunculkan hanya satu saja.

Pada contoh berikut diberikan elemen nilai 1, 4, dan 2 yang masing-masing angka dimasukan sebanyak 2 kali. Maka secara otomatis set akan menghilangkan nilai duplikat tersebut.

In [ ]:
# Secara otomatis menghilangkan nilai duplikat
set_angka = {1, 1, 4, 4, 2, 2, 2}
print(set_angka)

{1, 2, 4}

Contoh lainnya

In [ ]:
set_hewan = {'Ayam', 'Kambing', 'Ayam', 'Sapi'}
print(set_hewan)

{'Kambing', 'Ayam', 'Sapi'}

###**Bersifat Unordered**

Tipe data set bersifat unordered alias tidak berurut. Maka dari itu tipe data set tidak mendukung proses slicing yang artinya setiap elemen yang ada didalam set itu tidak bisa kita akses menggunakan indeks.

In [ ]:
# Hasilnya pasti error
set1 = {1, 2, 3, 4, 5}
print(set1[1])

TypeError: ignored

###**Set Tidak Dapat Dirubah**

Tipe data set bersifat unchangable yang berarti setiap nilai yang telah dimasukan ke dalam set tidak dapat dirubah lagi. Walaupun demikian, kita tetap dapat menambah dan menghapus elemen dalam set dengan menggunkan fungsi-fungsi yang tersedia pada set.

####**Menambahkan elemen**

Kita dapat menambahkan elemen baru dengan menggunakan fungsi add() dan fungsi update().

**Fungsi add()** <br>

Fungsi add() digunakan untuk menambahkan satu elemen saja pada set.

In [ ]:
set_float = {1.5, 2.3, 0.1}
print(set_float)

# Menambahkan nilai 3.5 pada set
set_float.add(3.5)
print(set_float)

{0.1, 1.5, 2.3}
{0.1, 1.5, 2.3, 3.5}

**Fungsi update()** <br>

Berbeda dengan fungsi add(), pada fungsi update() kita dapat menambahkan beberapa elemen sekaligus pada set.

In [ ]:
set_abjad = {'a', 'b', 'c'}
print(set_abjad)

# Menambahkan huruf 'd' ke dalam set
set_abjad.update('d')
print(set_abjad)

# Menambahkan lebih dari satu elemen
set_abjad.update('e', 'f')
print(set_abjad)

{'b', 'c', 'a'}
{'d', 'b', 'c', 'a'}
{'d', 'b', 'e', 'f', 'c', 'a'}

####**Menghapus elemen**

Terdapat 4 fungsi untuk menghapus elemen pada set, diantaranya yaitu remove(), discard(), pop(), dan clear().

**Fungsi remove()** <br>

Fungsi remove() digunakan untuk menghapus elemen yang berada pada set dan elemen yang dihapus harus berada dalam set, jika elemen yang dihapus tidak ada dalam set maka hasilnya akan eror.

In [ ]:
set_kota = {'Jakarta', 'Bandung', 'Bogor'}
print(set_kota)

# Hapus kota bogor
set_kota.remove('Bogor')
print(set_kota)

{'Jakarta', 'Bogor', 'Bandung'}
{'Jakarta', 'Bandung'}

In [ ]:
# Pasti eror, karena kota yang dihapus tidak ada pada set
set_kota.remove('Yogyakarta')
print(set_kota)

KeyError: ignored

**Fungsi discard()** <br>

Fungsi discard() sama seperti fungsi remove() yang digunakan untuk menghapus elemen pada set, beda nya pada fungsi discard() tidak akan menghasilkan eror jika elemen yang dihapus tidak berada dalam set.

In [ ]:
set_makanan = {'Bakso', 'Mie', 'Soto'}
print(set_makanan)

# Hapus makanan Mie
set_makanan.discard('Mie')
print(set_makanan)

{'Bakso', 'Mie', 'Soto'}
{'Bakso', 'Soto'}

In [ ]:
# Tidak akan error jika elemen yang dihapus tidak berada pada set
set_makanan.discard('Bubur')
print(set_makanan)

{'Bakso', 'Soto'}

**Fungsi pop()** <br>

Fungsi pop() berfungsi untuk menghapus elemen paling depan atau kiri.

In [ ]:
set_minuman = {'Es Teh', 'Es Jeruk', 'Air Putih'}
print(set_minuman)

set_minuman.pop()
print(set_minuman)

{'Es Jeruk', 'Es Teh', 'Air Putih'}
{'Es Teh', 'Air Putih'}

**Fungsi clear()** <br>

Fungsi clear() berfungsi untuk menghapus keseluruhan elemen pada set.

In [ ]:
# Menghapus variabel set_minuman di atas
set_minuman.clear()
print(set_minuman)

set()

###**Operasi himpunan**

In [ ]:
him1 = {1, 3, 5, 7}
him2 = {1, 2, 3, 4, 5}
print(him1)
print(him2)

####**Gabungan**

In [ ]:
#menggunakan palang |
print(him1 | him2)

#menggunakan union()
Union = him1.union(him2)
print(Union)

In [ ]:
print(him1.union(him2))

####**Irisan**

In [ ]:
#menggunakan tanda dan (&)
print(him1 & him2)

#menggunakan intersection()
irisan = him1.intersection(him2)
print(irisan)

####**Selisih**

In [ ]:
#menggunakan tanda minus (-)
print(him1 - him2)

#menggunakan difference()
selisih = him1.difference(him2)
print(selisih)

In [ ]:
#sebaliknya
#menggunakan (-)
print(him2 - him1)

#menggunakan difference()
selisih1 = him2.difference(him1)
print(selisih1)

####**Komplemen**

In [ ]:
#menggunakan tanda (^)
print(him1^him2)

#menggunakan symmetric_difference()
komplemen = him1.symmetric_difference(him2)
print(komplemen)

In [ ]:
lis1 = [1, 2, 3]
lis2 = [2, 3, 4]