<a href="https://colab.research.google.com/github/hasanasyarie/Basic-Python/blob/main/6_Input_dan_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Input dan Output**

Input adalah sebuah program masukan yang bisa kita buat dan kita olah sesuai dengan tipe data yang kita inginkan. Sedangkan output adalah hasil keluaran dari input yang kita buat. Untuk membuat sebuah input kita cukup menuliskan perintah input() dan untuk membuat output cukup menuliskan fungsi print().

###**Memahami Input**

In [ ]:
#Membuat input
coba1 = input()

14

Kita juga dapat menambahkan sebuah kalimat untuk mempercantik dan memperjelas perintah input

In [ ]:
coba2 = input('Masukan nilai: ')

Masukan nilai: 14

Secara default, fungsi input() akan menghasilkan nilai bertipe data string. Jika kita ingin membuat input dengan tipe data yang lain cukup dengan menambahkan tipe data yang kita inginkan sebelum menuliskan fungsi input().

In [ ]:
#Membuat input sesuai dengan tipe data
integer = int(input('Masukan nilai : '))
floating = float(input('Masukan nilai : '))
string = str(input('Masukan kata : '))
boolean = bool(input('Masukan nilai : '))
kompleks = complex(input('Masukan nilai: '))

Masukan nilai : 14
Masukan nilai : 14
Masukan kata : 14
Masukan nilai : 14
Masukan nilai: 14

Meskipun nilai yang kita masukan sama yaitu angka 14, akan tetapi output nya akan berbeda karna menyesuaikan dengan tipe data yang kita gunakan. Berikut output yang dihasilkan:

In [ ]:
#Menampilkan nilai
print(integer)
print(floating)
print(string)
print(boolean)
print(kompleks)

14
14.0
14
True
(14+0j)

Membuat input data diri

In [ ]:
nama = input('Masukan Nama: ')
umur = input('Masukan Umur: ')
alamat = input('Masukan Alamat: ')

Masukan Nama: Hasan Asy Arie
Masukan Umur: 23
Masukan Alamat: Yogyakarta

###**Memahami Output**

Untuk menampilkan output dapat menggunakan fungsi print(). sebagai contoh misal kita memiliki sebuah variabel yang berisikan nilai bertipe integer dan kemudian akan ditampilkan outputnya sebagai berikut.

In [ ]:
nilai = 10
print(nilai)

10

Kita juga dapat menampilkan output dari beberapa variabel. Ada beberapa cara dalam menampilkan output dari beberapa variabel yang akan dicontohkan menggunakan variabel input data diri diatas.

**Menampilkan output dengan tanda plus '+'**

In [ ]:
print(nama + umur + alamat)

#Menampilkan output dengan rapih menggunakan text
print('nama saya'+' '+nama+' '+'saat ini saya memasuki umur ke'+' '+umur+' '+'dan saya asli orang'+' '+alamat)

Hasan Asy Arie23Yogyakarta
nama saya Hasan Asy Arie saat ini saya memasuki umur ke 23 dan saya asli orang Yogyakarta

**Menampilkan output dengan koma ','**

In [ ]:
print(nama, umur, alamat)

#Menampilkan output dengan rapih menggunakan text
print('Nama saya', nama, 'saat ini saya berumur', umur, 'dan saya dari', alamat)

Hasan Asy Arie 23 Yogyakarta
Nama saya Hasan Asy Arie saat ini saya berumur 23 dan saya dari Yogyakarta

**Menampilkan output dengan fungsi format()**

In [ ]:
print('{}{}{}'.format(nama, umur, alamat))

#Menampilkan output dengan rapih menggunakan text
print('Nama saya {} saat ini saya berumur {} dan saya dari {}'.format(nama, umur, alamat))

Hasan Asy Arie23Yogyakarta
Nama saya Hasan Asy Arie saat ini saya berumur 23 dan saya dari Yogyakarta

**Menampilkan output dengan operator "%"**

In [ ]:
print('%s %s %s' %(nama,umur,alamat))

# %s - untuk tipe string
# %d - untuk tipe integer
# %f - untuk tipe float
# %x atau %X - untuk integer hexa

#Menampilkan output dengan rapih menggunakan text
print('Nama saya %s saat ini saya berumur %s dan saya dari %s'%(nama, umur, alamat))

Hasan Asy Arie 23 Yogyakarta
Nama saya Hasan Asy Arie saat ini saya berumur 23 dan saya dari Yogyakarta